* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    font-size: 50px;
    text-decoration: none;   
}
#content {
    color: blueviolet;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.itl {
    font-size: 50px;

}
#content,.itl {
    text-align: center;
}